{% extends "template.html" %}

{% block page_content %}
<div class="page-header">
    <h3 style="text-align: center;">拦截规则列表</h3>
    <button id="Reload" style="width: 11%; float: right; margin-bottom: 2%;">立即生效</button>
    <table width="100%" border="1" cellspacing="0" cellpadding="6" align="center" id="monitor" style="table-layout: fixed;">
        <tr style="align: center; margin: auto; background-color: #99CCFF">
            <th width=10% style="text-align: center;">ID</th>
            <th width=10% style="text-align: center;">name</th>
            <th width=11% style="text-align: center;">domainName</th>
            <th width=15% style="text-align: center;">urlPath</th>
            <th width=10% style="text-align: center;">statusCode</th>
            <th width=24% style="text-align: center;">response</th>
            <th width=20% style="text-align: center;">manager</th>
        </tr>
        {% for data in datas %}
            <tr>
                <td align="center" style="white-space: nowrap;text-overflow: ellipsis; overflow: hidden;" title="{{ data[0] }}">{{ data[0] }}</td>
                <td style="white-space: nowrap;text-overflow: ellipsis; overflow: hidden;" title="{{ data[1] }}">{{ data[1] }}</td>
                <td style="white-space: nowrap;text-overflow: ellipsis; overflow: hidden;" title="{{ data[2] }}">{{ data[2] }}</td>
                <td style="white-space: nowrap;text-overflow: ellipsis; overflow: hidden;" title="{{ data[3] }}">{{ data[3] }}</td>
                <td align="center">{{ data[4]}}</td>
                <td style="white-space: nowrap;text-overflow: ellipsis; overflow: hidden;" title="{{ data[5] }}">{{ data[5]}}</td>
                <td align="center">
                    {% if data[7] > 0 %}
                    <input name="{{ data[0] }}" type="radio" value="1" checked onclick="set_is_run('{{ data[0] }}', 1)">启用
                    <input name="{{ data[0] }}" type="radio" value="0" onclick="set_is_run('{{ data[0] }}', 0)">禁用
                    {% else %}
                    <input name="{{ data[0] }}" type="radio" value="1" onclick="set_is_run('{{ data[0] }}', 1)">启用
                    <input name="{{ data[0] }}" type="radio" value="0" checked onclick="set_is_run('{{ data[0] }}', 0)">禁用
                    {% endif %}
                    <a href="#" onclick="edit('{{ context }}/edit/{{ data[0] }}')" style="margin-left: 2%;">编辑</a>
                    <a href="#" onclick="openResult('{{ context }}/delete/{{ data[0] }}')" style="margin-left: 2%;">删除</a>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
{% block edit_content %}
<div class="page-header">
    <h3 style="text-align: center;">添加/编辑拦截规则</h3>
    <div style="margin-left: 3%; margin-right: 3%">
        <div style="max-width: 100%; margin-top: 3%;">
            <label id="ID_label" style="width: 15%; text-align: right; display: none">ID: </label>
            <input type="text" id="ID" value="" style="margin-left: 3%; width: 80%; display: none" readonly="readonly">
        </div>
        <div style="max-width: 100%; margin-top: 3%;">
            <label style="width: 15%; text-align: right;">名称: </label>
            <input type="text" id="name" placeholder="拦截规则名称" style="margin-left: 3%; width: 80%;">
        </div>
        <div style="max-width: 100%; margin-top: 3%;">
            <label style="width: 15%; text-align: right;">拦截域名: </label>
            <input type="text" id="domain_name" placeholder="拦截域名，正则表达式匹配，例如：.*baidu.com" style="margin-left: 3%; width: 80%;">
        </div>
        <div style="max-width: 100%; margin-top: 3%;">
            <label style="width: 15%; text-align: right;">拦截路径: </label>
            <input type="text" id="url_path" placeholder="拦截路径，正则表达式匹配，例如：/static.*json" style="margin-left: 3%; width: 80%;">
        </div>
        <div style="max-width: 100%; margin-top: 3%;">
            <label style="width: 15%; text-align: right;">状态码: </label>
            <input type="text" id="status_code" placeholder="响应状态码" style="margin-left: 3%; width: 80%;">
        </div>
        <div style="max-width: 100%; margin-top: 3%;">
            <label style="width: 15%; text-align: right; float: left;">响应值: </label>
            <textarea id="response" placeholder="响应值" style="margin-left: 3%; width: 80%;" rows="4"></textarea>
        </div>
        <div style="max-width: 100%; margin-top: 3%;">
            <label style="width: 25%; text-align: left;">响应值是否是文件: </label>
            <input type="text" id="is_file" placeholder="响应值是否是文件, 0 或者 1" style="margin-left: 3%; width: 70%;">
        </div>
        <div style="text-align: center; margin-top: 5%;">
            <button id="Save" style="width: 30%; display: ">保存</button>
            <button id="Update" style="width: 30%; display: none">更新</button>
        </div>
    </div>
</div>
{% endblock %}
{% block myjs %}
<script type="text/javascript">
    window.onload = function() {
        let height = window.outerHeight;
        let width = window.outerWidth;
    }
    $("#Reload").click(function () {
        $.ajax ({
            type: 'get',
            url: '{{ context }}/reload',
            datatype: 'json',
            success: function(data) {
                if(data['code'] === 0) {
                    console.error(data['msg']);
                    $.Toast(data['msg'], 'error');
                } else {
                    $.Toast(data['msg'], 'success');
                }
            }
        })
    });
    $("#Save").click(function () {
        let name = document.getElementById('name').value;
        let domain_name = document.getElementById('domain_name').value;
        let url_path = document.getElementById('url_path').value;
        let status_code = document.getElementById('status_code').value;
        let response = document.getElementById('response').value;
        let is_file = document.getElementById('is_file').value;
        let postdata = {
            name: name,
            domain_name: domain_name,
            url_path: url_path,
            status_code: status_code,
            response: response,
            is_file: is_file,
        };
        $.ajax({
            type: 'post',
            url: '{{ context }}/save',
            data: JSON.stringify(postdata),
            datatype: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                if(data['code'] === 0) {
                    console.error(data['msg']);
                    $.Toast(data['msg'], 'error');
                } else {
                    $.Toast(data['msg'], 'success');
                    window.location.href="";
                }
            },
        });
    });
    $("#Update").click(function () {
        let ID = document.getElementById('ID').value;
        let name = document.getElementById('name').value;
        let domain_name = document.getElementById('domain_name').value;
        let url_path = document.getElementById('url_path').value;
        let status_code = document.getElementById('status_code').value;
        let response = document.getElementById('response').value;
        let is_file = document.getElementById('is_file').value;
        let postdata = {
            ID: ID,
            name: name,
            domain_name: domain_name,
            url_path: url_path,
            status_code: status_code,
            response: response,
            is_file: is_file,
        };
        $.ajax({
            type: 'post',
            url: '{{ context }}/update',
            data: JSON.stringify(postdata),
            datatype: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                if(data['code'] === 0) {
                    console.error(data['msg']);
                    $.Toast(data['msg'], 'error');
                } else {
                    $.Toast(data['msg'], 'success');
                    window.location.href="";
                }
            },
        });
    });
    function set_is_run(Id, isRun){
        let post_data = {
            Id: Id,
            isRun: isRun,
        }
        $.ajax({
            type: 'post',
            url: '{{ context }}/isRun',
            data: JSON.stringify(post_data),
            datatype: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function(data){
                if(data['code'] === 0) {
                    console.error(data['msg']);
                    $.Toast(data['msg'], 'error');
                } else {
                    $.Toast(data['msg'], 'success');
                    window.location.href="";
                }
            }
        })
    }
    function openResult(del_url){
        let r = confirm("亲，您确定删除拦截规则吗？")
        if (r === true) {
            $.ajax({
                type: 'get',
                url: del_url,
                datatype: 'json',
                success: function (data) {
                    if (data['code'] === 0) {
                        console.error(data['msg']);
                        $.Toast(data['msg'], 'error');
                    } else {
                        $.Toast(data['msg'], 'success');
                        window.location.href="";
                    }
                }
            })
        } else {}
    }
    function edit(edit_url){
        $.ajax({
            type: 'get',
            url: edit_url,
            datatype: 'json',
            success: function (data) {
                if (data['code'] === 0) {
                    console.error(data['msg']);
                    $.Toast(data['msg'], 'error');
                } else {
                    $.Toast(data['msg'], 'success');
                    document.getElementById('ID_label').style.display = '';
                    document.getElementById('ID').style.display = '';
                    document.getElementById('ID').value = data['data'][0];
                    document.getElementById('name').value = data['data'][1];
                    document.getElementById('domain_name').value = data['data'][2];
                    document.getElementById('url_path').value = data['data'][3];
                    document.getElementById('status_code').value = data['data'][4];
                    document.getElementById('response').value = data['data'][5];
                    document.getElementById('is_file').value = data['data'][6];
                    document.getElementById('Save').style.display = 'none';
                    document.getElementById('Update').style.display = '';
                }
            }
        })
    }
</script>
{% endblock %}